@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	/* Reference name */
	font-family: 'Inter';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

html {
	@apply h-full;
}
body {
	@apply relative grid w-full h-full bg-white;
}

button,
.zoom-click {
	@apply transition duration-300;
}
button:active,
.zoom-click:active {
	@apply scale-95;
}
button svg {
	@apply pointer-events-none;
}

.hover,
.hover svg {
	@apply relative z-20 block outline-none cursor-pointer;
}
.hover:after {
	content: '';
	@apply -z-0 bg-primary-100 dark:bg-primary-500 absolute inset-0 w-8 h-8 m-auto rounded-full opacity-0;
	left: -11px;
	right: -11px;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.hover:hover:after {
	@apply z-0 scale-100 opacity-100;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

table tr td {
	@apply font-normal align-middle !important;
}

.input,
.checkbox,
.radio,
.select,
.textarea {
	@apply dark:bg-surface-800 border-slate-400 placeholder:text-surface-300 dark:placeholder:text-surface-400 disabled:cursor-not-allowed disabled:opacity-75 bg-white;
}
.label span {
	@apply text-sm;
}

.table {
	@apply bg-primary-50;
}

.table thead {
	@apply bg-primary-100;
}
